@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.form-control {
  line-height: 2;
}

.bg-custom {
  background-color: #7c3404;
}

.bg-custom2 {
  background-color: #e0752e;
}

.btn-custom {
  background-color: #d6a03b;
  color: #ffffff;
}
.btn-custom:hover {
  background-color: #eb700c;
  color: #ffffff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.social-icons .fa {
  font-size: 50px;
  padding-bottom: 20px;
  cursor: pointer;
}

.fa:hover {
  transform: scale(1.3);
  transition: 0.6s;
}

.fa-facebook {
  color: #4867AA;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-instagram {
  color: #e4405f;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-pinterest {
  color: #bd081c;
}

.info li {
  padding-bottom: 10px;
  font-size: 18px;
}

.fa-arrow-alt-circle-up {
  font-size: 30px;
  cursor: pointer;
  color: #000000;
  padding-right: 20px;
  padding-bottom: 3px;
}

@-webkit-keyframes logo-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes logo-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}
@-webkit-keyframes kenburns-bottom-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 84%;
  }
  100% {
    transform: scale(1.25) translate(20px, 15px);
    transform-origin: right bottom;
  }
}
@keyframes kenburns-bottom-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 84%;
  }
  100% {
    transform: scale(1.25) translate(20px, 15px);
    transform-origin: right bottom;
  }
}
.back1, .back1-2 {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #e2c678 50%, #ff9900 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.back1-2 {
  background-image: linear-gradient(-60deg, #e29a78 50%, #ff4800 50%);
}

.back2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.back3 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comfortaa", cursive;
}

header {
  width: 100%;
  clear: both;
  height: 20px;
  display: table;
}

.heroportada {
  background-image: url(../assets/heroportada.webp);
}

.carrpre {
  cursor: pointer;
  position: relative;
  background: white;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  font-size: 1rem;
}
.carrpre:after, .carrpre:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.carrpre:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}
.carrpre:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
.carrpre:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.carrpre:hover:before, .carrpre:hover:after {
  width: 100%;
  height: 100%;
}

.contenedorprecio {
  background: #ffebee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group-sm > .btn, .btn-sm {
  background-color: beige !important;
}

.kbcar {
  -webkit-animation: kenburns-top 5s ease-out both;
          animation: kenburns-top 5s ease-out both;
}

.kbcar2 {
  -webkit-animation: kenburns-bottom-right 5s ease-out both;
          animation: kenburns-bottom-right 5s ease-out both;
}

.pedionline {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-top: 90px;
  width: 100%;
  height: 20%;
}

.centrado {
  background-color: rgba(255, 174, 0, 0.6);
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  color: cornsilk;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.carousel .item {
  height: 300px;
}

.item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

.cabeza {
  background: #be7e07e5;
  position: relative;
}

.pie {
  background: #be7e07;
  position: relative;
}

.bg-light {
  --bs-bg-opacity:1;
  background-color: rgba(255, 166, 0, 0) !important;
}

.nav-link:hover {
  background-color: #d17600;
}

.logo-left {
  -webkit-animation: logo-left 3s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: logo-left 3s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.fondocap {
  background-color: rgba(26, 18, 6, 0.877);
  position: absolute;
  width: 40%;
  height: 80%;
}

.carousel-caption {
  left: 0;
  right: 0;
  width: 100%;
  background-color: #d07f16;
}

.card {
  background-color: transparent;
}

.card-body {
  background-color: #c08401;
}

.app {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 30px 0 30px 0;
}

.textoapp {
  background-color: rgba(7, 5, 2, 0.541);
  position: absolute;
  width: 30%;
  overflow: hidden;
  top: 40%;
  left: 60%;
  color: #ffffff;
  font-size: 1rem;
}

.nav-link {
  padding-top: 5%;
}

.headlogbg {
  background: #dd9d12;
  background: radial-gradient(circle, #ddc612 0%, rgba(221, 133, 18, 0.884) 35%, rgba(226, 98, 6, 0.5746673669) 100%);
}

#carrito {
  padding-right: 30px;
}

.mencatcol {
  background-color: #d06d03;
}

.iconsoc {
  padding: 6px;
  -webkit-animation: slide-in-top 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}/*# sourceMappingURL=main.css.map */