*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Importando fuente Poppins de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/bg.webp);
    background-attachment: fixed;
    background-repeat: space;
    background-size: cover;
}

header {
	width: 100%;
	clear: both;
	height: 20px;
	display: table;
}

.header {
    background: #F2B33D;
    position: relative;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

/* Entrada animada logo */

.logo-left{
    -webkit-animation: logo-left 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: logo-left 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    
}

/* keyframes para la animación del logo*/

  @keyframes logo-left {
    0% {
      transform: translateX(-1000px) rotate(-720deg);
      filter: blur(50px);
      opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        filter: blur(0);
        opacity: 1;
    }
  }

/* fin keyframes animación logo */


/* Keyframes Animación para imágenes grandes en portada */

.fade-in-imagenes {
	        animation: fade-in-imagenes 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* keyframes para la animación de imágenes en portada*/

  @keyframes fade-in-imagenes {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
/* fin animación imágenes portada */

.nav{
    width: 90%;
}
.burger{
    display: none;
}
.nav__menu{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}
.nav__menu a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1.5rem;
}
.nav__social{
    padding-left: 1rem;
}

/* estilo para fotos y letras tabla menú */
.imgmenu {
	width: 70%;
	margin: auto;
    display: block;
}
.tablamenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.tablamenumob{
    display: none;
}


main{
 /*   display: flex; */
    align-items: center;
    justify-content: center;
}

.servicios{
    position: relative;
    display: inline-block;
    text-align: center;
	padding: 30px 0 30px 0;
	height: 60%;
}

/* estilo para el texto descriptivo de servicios */
.mainservicios{
    position: relative;
    display: inline-block;
    text-align: center;
	padding: 30px 0 30px 0;
    height: 60%;
}

.textoservicios{
    background-color: rgba(26, 18, 6, 0.877);
	position: absolute;
    width:40%;
	height: 80%;
/*	overflow: scroll; */
	top: 10%;
    left: 5%;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
    
}

.textoservicios2{
    background-color: rgba(26, 18, 6, 0.877);
	position: absolute;
    width:40%;
	height: 30%;
/*	overflow: scroll; */
	top: 10%;
    left: 50%;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
    
}

.pedionline{
    position: relative;
    display: inline-block;
    text-align: center;
	padding-top: 90px;
	width: 100%;
	height: 20%;
}

.slideshow{
    position: relative;
    display: inline-block;
    text-align: center;
	padding-top: 30px;
}

.centrado{
    background-color: rgba(255, 174, 0, 0.6);
	position: absolute;
    width:100%;
	top: 70%;
    left: 50%;
	color: cornsilk;
	font-size: 2rem;
    transform: translate(-50%, -50%);
}

.app{
    position: relative;
    display: inline-block;
    text-align: center;
	padding: 30px 0 30px 0;
}

/* .somosespcont{
    position: relative;
    display: inline-block;
    text-align: center;
	padding-top: 90px;
	width: 100%;
	height: 20%;
}
*/
.textoapp{
    background-color: rgba(87, 83, 76, 0.459);
	position: absolute;
    width:33%;
	height: 75%;
	overflow: hidden;
	top: 20%;
    left: 60%;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
}

.textoapp2{
    background-color: rgba(87, 83, 76, 0.459);
	position: absolute;
    width:30%;
	height: 30%;
	overflow: hidden;
	top: 40%;
    left: 10%;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
    
}

/* Estilos para el formulario de contacto*/

.formulario-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background-color: #493b2586;
    padding: 30px;
    padding-top: 30px;
	padding-bottom: 10px;
    max-width: 100%;
}

.formulario-form-group {
    margin-bottom: 1rem;
}

.formulario-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.formulario-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formulario-form-control:focus {
    border: 1px solid #313131;
}

select.formulario-form-control[size], select.formulario-form-control[multiple] {
    height: auto;
}

textarea.formulario-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.formulario-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.formulario-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #ffffff;
}

.formulario-credit a {
    color: #545b62;
    text-decoration: underline;
}

.formulario-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.formulario-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .formulario-btn {
        transition: none;
    }
}

.formulario-btn:hover {
    color: #212529;
    text-decoration: none;
}

.formulario-btn:focus, .formulario-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.formulario-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.formulario-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.formulario-btn-primary:focus, .formulario-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.formulario-btn-lg, .formulario-btn-group-lg>.formulario-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.formulario-btn-block {
    display: block;
    width: 100%;
}

.formulario-btn-block+.formulario-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].formulario-btn-block, input[type="reset"].formulario-btn-block, input[type="button"].formulario-btn-block {
    width: 100%;
}

/* fin estilo para el formulario de contacto */

/* Etiqueta de precio - experimental*/

.producto {
  width: 100%;
  font-family: sans-serif;
  /* margin: 2%; */
}

.producto-image {
  background: #e9e9e9;
  position: relative;
  min-height: 250px;
  width: 100%;
  margin: auto;
  display: inline-block;
  padding: 2px 0 2px 0;
}

.enventa-section {
  position: absolute;
  top: -6px;
  right: 15px;
}

.enventa-section:after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 6px solid #ff9a03;
}

.enventa {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #fff;
  background: #ff9a03;
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 6px;
  border-top-right-radius: 8px;
  width: 84px;
  text-transform: uppercase
}

.enventa:before,
.onsale:after {
  position: absolute;
  content: '';
  display: block;
}

.enventa:before {
  background: #ff9a03;
  height: 7px;
  width: 6px;
  left: -6px;
  top: 0;
}

.enventa:after {
  background: #96a0a2;
  height: 7px;
  width: 8px;
  border-radius: 8px 8px 0 0;
  left: -8px;
  top: 0;
}

.producto img {
  display: block;
}

/* Fin etiqueta de precio */

/*  Botones del menú principal*/

.nav__links {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
 /* width: 250px; */
  cursor: pointer;
  
}

.nav__links span {
  transition: all 0.3s;
}

.nav__links::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgb(255, 115, 0);
  border-bottom-color: rgb(255, 115, 0);
  transform: scale(0.1, 1);
}
.nav__links:hover span {
  letter-spacing: 2px;
  background-color: rgb(241, 131, 4);
}
.nav__links:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.nav__links::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 115, 0, 0);
}
.nav__links:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

/* Definimos al footer como grid */

footer {
    display: grid; 
    background: #F28907;
    font-size: 0.5;
    grid-template-columns: 1.3fr 0.7fr; 
    grid-template-rows: 0.4fr 2.3fr 0.3fr; 
    gap: 7px 7px; 
    height: 60px;
    grid-template-areas: 
      ". ."
      ". ."
      "footer1 footer2"; 
  }
  .footer1 { 
    grid-area: footer1; 
   /* justify-content: space-evenly */
    align-items: center;
    justify-content: center;
    }
   .socmob{
       display: none;
   } 
  .footer2 {
    grid-area: footer2; 
  /*  justify-content: space-evenly */
    align-items: center;
    justify-content: center;
    }
.copy2{
        display: none;
    }
.menumob{
    display: none;
}
    @media (max-width: 824px) {
        .menumob{
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-around;
            background-color: rgba(255, 174, 0, 0.6);
            font-size: 23px;
            text-align: center;
            width:100%;
        }
        .menumob__li{
            display: inline-flex;
            text-decoration: none;
            padding: 0 10px 0 10px;
    
        }
        .menumob__li:hover{
            color: seashell;
        }
        .menumob__ul{
            list-style-type: none;
            display: inline-block;
        }
        .menumob a{
            text-decoration: none;
        }
    .nav__menu {
      display: none;
    }
    .burger{
        display: none;
    }
    .centrado{
        font-size: 1rem;
    }
    .textoapp{
        height: 40%;
        overflow: scroll;
        padding-bottom: 50px;
        font-size: 1rem;
    }
    .copy{
        display: none;
    }
    .copy2{
        font-size: 12px;
        display: inline;
        text-align: center;
    }
    .footer1{
        justify-content: space-around;
        padding: 0 0 20px 20%; 
    }
    .socmob{
        display: inline;
    }
    .footer2{
        justify-content: center;
        padding: 0 0 20px 20%;
    }
    .menutabla{
        display: none;
    }
    .tablamenumob{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-flow: column;
    }
    .imgmenu {
        width: 100%;
        margin: auto;
        display: inline-block;
        padding: 2px 0 2px 0;
    }
}
@media (max-width: 320px) {
    .burger{
        display: none;
    }
    .nav__social{
        display: none;
    }
    .logo-left{
        padding-left: 25px;
    }
    .menumob{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(255, 174, 0, 0.6);
        font-size: 21px;
        text-align: center;
        width:100%;
    }
    .menumob__li{
        display: inline-flex;
        text-decoration: none;
        padding: 0 5px 0 5px;

    }
    .menumob__li:hover{
        color: seashell;
    }
    .menumob__ul{
        list-style-type: none;
        display: inline-block;
    }
    .menumob a{
        text-decoration: none;
    }
    .nav__social{
        padding-right: 2px;
    }
    body{
        background-attachment: fixed;
        background-repeat: space;
        background-size: cover;
    }
    .menutabla{
        display: none;
    }
    .tablamenumob{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-flow: column;
    }
    .imgmenu {
        width: 100%;
        margin: auto;
        display: inline-block;
        padding: 2px 0 2px 0;
    }
}
