* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	/* background-image: url(../assets/habemusdog.webp); */
	background: rgb(232,176,55);
	background: linear-gradient(7deg, rgba(232,176,55,1) 0%, rgba(250,193,86,1) 96%); 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Bakbak One', cursive;
	/* animation: bodyan 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; */
}

header {
	width: 100%;
	clear: both;
	height: 20px;
	display: table;
}

.kbcar {
	animation: kenburns-top 5s ease-out both;
}

.kbcar2 {
	animation: kenburns-bottom-right 5s ease-out both;
}

.pedionline {
	position: relative;
	display: inline-block;
	text-align: center;
	padding-top: 90px;
	width: 100%;
	height: 20%;
}

.centrado {
	background-color: rgba(255, 174, 0, 0.6);
	position: absolute;
	width: 100%;
	top: 70%;
	left: 50%;
	color: cornsilk;
	font-size: 2rem;
	transform: translate(-50%, -50%);
}

.carousel .item {
	height: 300px;
}

.item img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	min-height: 500px;
}

.cabeza {
	background: #be7e07e5;
	position: relative;
	/* display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center; */
}

.pie {
	background: #be7e07;
	position: relative;
	/* display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center; */
}

.bg-light {
	--bs-bg-opacity: 1;
	background-color: rgba(255, 166, 0, 0) !important;
}

.nav-link:hover {
	background-color: #d17600;
}

.logo-left {
	animation: logo-left 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.fondocap {
	background-color: rgba(26, 18, 6, 0.877);
	position: absolute;
	width: 40%;
	height: 80%;
}

.carousel-caption {
	left: 0;
	right: 0;
	width: 100%;
	background-color: #fb91076c;
}

.card {
	background-color: transparent;
}

.card-body {
	background-color: #c08401;
}

.app {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 30px 0 30px 0;
}

.textoapp {
	background-color: rgba(7, 5, 2, 0.541);
	position: absolute;
	width: 30%;
	overflow: hidden;
	top: 40%;
	left: 60%;
	color: white;
	font-size: 1rem;
}

.nav-link {
	padding-top: 5%;
}

.headlogbg {
	background: rgb(221, 157, 18);
	background: radial-gradient(circle, rgba(221, 198, 18, 1) 0%, rgba(221, 133, 18, 0.884) 35%, rgba(226, 98, 6, 0.5746673669467788) 100%);
}

#carrito {
	padding-right: 30px;
}

.mencatcol {
	background-color: #d06d03;
}


/* .wow {
  visibility: hidden;
} */


/* Formulario bootstrap */

li,
h3 {
	color: #fff;
}

h3 {
	font-size: 32px;
	font-weight: bold;
	margin: 0;
}

.form-control {
	line-height: 2;
}

.bg-custom {
	background-color: #7c3404;
}

.bg-custom2 {
	background-color: hsl(24, 74%, 53%);
}

.btn-custom {
	background-color: #d6a03b;
	color: #fff;
}

.btn-custom:hover {
	background-color: #eb700c;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.social-icons .fa {
	font-size: 50px;
	padding-bottom: 20px;
	cursor: pointer;
}

.fa:hover {
	transform: scale(1.3);
	transition: .6s;
}

.fa-facebook {
	color: #4867AA;
}

.fa-twitter {
	color: #1DA1F2;
}

.fa-instagram {
	color: #e4405f;
}

.fa-linkedin {
	color: #0e76a8;
}

.fa-pinterest {
	color: #bd081c;
}

.info li {
	padding-bottom: 10px;
	font-size: 18px;
}

.fa-arrow-alt-circle-up {
	/* padding-left: 20px; */
	font-size: 30px;
	cursor: pointer;
	color: #000;
	padding-right: 20px;
	padding-bottom: 3px;
}

.arriba__link {
	text-decoration: none;
}

.copy {
	padding-left: 30%;
}

.copy_text {
	font-size: 1rem;
	text-align: center;
}


.iconsoc {
	padding: 6px;
	animation: slide-in-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* Fin formulario */


/* Animaciones */


/* keyframes para la animación del logo*/

@keyframes logo-left {
	0% {
		transform: translateX(-1000px) rotate(-720deg);
		filter: blur(50px);
		opacity: 0;
	}
	100% {
		transform: translateX(0) rotate(0deg);
		filter: blur(0);
		opacity: 1;
	}
}


/* fin keyframes animación logo */


/* keyframes para la animación del body */

@keyframes bodyan {
	0% {
		transform: rotateX(-100deg);
		transform-origin: top;
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		transform-origin: top;
		opacity: 1;
	}
}


/* Fin animación del body */


/*  Animación íconos sociales junto al logo */

@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}


/*  Fin animación íconos sociales junto al logo */


/* Animación carrusel portada 1 */

@-webkit-keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}

@keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}


/* Animación imagen carrusel portada 2 */


/* ----------------------------------------------
 * Generated by Animista on 2021-12-9 5:27:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation kenburns-bottom-right
 * ----------------------------------------
 */

@-webkit-keyframes kenburns-bottom-right {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 84% 84%;
		transform-origin: 84% 84%;
	}
	100% {
		-webkit-transform: scale(1.25) translate(20px, 15px);
		transform: scale(1.25) translate(20px, 15px);
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
	}
}

@keyframes kenburns-bottom-right {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 84% 84%;
		transform-origin: 84% 84%;
	}
	100% {
		-webkit-transform: scale(1.25) translate(20px, 15px);
		transform: scale(1.25) translate(20px, 15px);
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
	}
}


/* Fin animaciones */


/*  Media querys */


/* @media only screen 
  and (min-width : 467px) {
  .textoapp{
    width:70%;
    top: 40%;
    left: 10%; 
  }
  
} */

/* Media queries no standard */

@media only screen and (max-width: 621px) {
	.textoapp {
		width: 70%;
		top: 30%;
		left: 10%;
	}
}

@media only screen and (max-width: 393px) {
	.textoapp {
		width: 80%;
		top: 15%;
		left: 10%;
	}

	.iconossoc{
		padding-right: 10%;
	}
}

@media only screen and (max-width: 381px) {
	.textoapp {
		width: 80%;
		top: 20%;
		left: 10%;
	}
}


/* @media(max-width: 749px) {
  .copy_text {
  display: none;
  }
  } */

@media(max-width: 1055px) {
	.pedionline {
		padding: 0;
	}
	/* .copy{
        display: block;
    } */
	.centrado {
		font-size: 1rem;
	}
}

/* Media queries standard */

/* Dispositivos pequeños (landscape phones, 576px and up) */

@media (min-width: 576px) { 

	.iconossoc{
		padding-right: 8%;
	}

 }

/* Dispositivos medianos (tablets, 768px and up) */

@media (min-width: 768px) { 

	.iconossoc{
		padding-right: 4%;
	}

 }

/* Dispositivos grandes (desktops, 992px and up) */

@media (min-width: 992px) { ... }

/* Dispositivos muy grandes (large desktops, 1200px and up) */

@media (min-width: 1200px) { ... }


@media (max-width: 575.98px) { 

	.iconossoc{
		padding-right: 9%;
	}

 }

/* Dispositivos pequeños (landscape phones, less than 768px) */

@media (max-width: 767.98px) { ... }

/* Dispositivos medianos (tablets, less than 992px) */

@media (max-width: 991.98px) { ... }

/* Dispositivos grandes (desktops, less than 1200px) */

@media (max-width: 1199.98px) { ... }
