// colores usados en las páginas

$color0:  #be7e07e5;
$color1:  #be7e07;
$color2:  #d17600;
$color3:  #c08401;
$color4:  #d06d03;
$color5:  #ffffff;
$color6:  #7c3404;
$color7:  #d6a03b;
$color8:  #eb700c;
$color9:  #4867AA;
$color10: #1DA1F2;
$color11: #e4405f;
$color12: #0e76a8;
$color13: #bd081c;
$color14: #000000;
$color15: #fb91076c;
$color16: cornsilk;
$color17: beige !important;

// backgrounds

$color18: rgb(232, 176, 55);
$color19: linear-gradient(7deg, rgba(232, 176, 55, 1) 0%, rgba(250, 193, 86, 1) 96%);
$color20: rgba(255, 174, 0, 0.6);
$color21: rgba(255, 166, 0, 0) !important;
$color22: rgba(26, 18, 6, 0.877);
$color23: rgba(7, 5, 2, 0.541);
$color24: rgb(221, 157, 18);
$color25: radial-gradient(circle, rgba(221, 198, 18, 1) 0%, rgba(221, 133, 18, 0.884) 35%, rgba(226, 98, 6, 0.5746673669) 100%);
$color26: hsl(24, 74%, 53%);
$color27: #d6a03b;
$color28: #d07f16;